<main class="main-page-wrapper container">
  <app-slider></app-slider>
  <!-- <app-education></app-education> -->
  <app-resume></app-resume>
  <app-portfolio></app-portfolio>
  <app-experience></app-experience>
  <app-news></app-news>
  <app-modals></app-modals>
  <!-- Back to  top Start -->
  <a >
    <div id="backto-top" (click)="scrollToTop()" class="backto-top">
      <div scrollToTop>
        <i data-feather="arrow-up"></i>
      </div>
    </div>
  </a>
  <!-- Back to top end -->
</main>
