<!-- Start News Area -->
<div class="rn-blog-area rn-section-gap section-separator" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="100"
          data-aos-once="true"
          class="section-title text-center"
        >
          <span class="subtitle">{{ 'blog.subtitle' | translate }}</span>
          <h2 class="title">{{ 'blog.title' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="row row--25 mt--30 mt_md--10 mt_sm--10">
      <!-- Start Single blog -->
      <div
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="100"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 mt--30 col-md-6 col-sm-12 col-12 mt--30"
      >
        <div
          class="rn-blog"
          data-bs-toggle="modal"
          data-bs-target="#modal-blog-1"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  [ngSrc]="'assets/images/blog/blog-01.jpg'"
                  [width]="100"
                  [height]="100"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">{{ 'blog.posts.videojuegos.category' | translate }}</a>
                </div>
                <div class="meta">
                  <span><i class="feather-clock"></i> {{ 'blog.posts.videojuegos.readTime' | translate }} {{ 'blog.readTime' | translate }}</span>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >{{ 'blog.posts.videojuegos.title' | translate }}
                  <i class="feather-arrow-up-right"></i
                ></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single blog -->

      <!-- Start Single blog -->
      <div
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="150"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 mt--30 col-md-6 col-sm-12 col-12 mt--30 adjust"
      >
        <div
          class="rn-blog"
          data-bs-toggle="modal"
          data-bs-target="#modal-blog-2"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  [ngSrc]="'assets/images/blog/vari.webp'"
                  [width]="100"
                  [height]="100"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">{{ 'blog.posts.impresion3d.category' | translate }}</a>
                </div>
                <div class="meta">
                  <span><i class="feather-clock"></i> {{ 'blog.posts.impresion3d.readTime' | translate }} {{ 'blog.readTime' | translate }}</span>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >{{ 'blog.posts.impresion3d.title' | translate }}
                  <i class="feather-arrow-up-right"></i
                ></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single blog -->

      <!-- Start Single blog -->
      <div
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 mt--30 col-md-6 col-sm-12 col-12 mt--30"
      >
        <div
          class="rn-blog"
          data-bs-toggle="modal"
          data-bs-target="#modal-blog-3"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  [ngSrc]="'assets/images/blog/blog-03.jpg'"
                  [width]="100"
                  [height]="100"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">{{ 'blog.posts.vidaSocial.category' | translate }}</a>
                </div>
                <div class="meta">
                  <span><i class="feather-clock"></i> {{ 'blog.posts.vidaSocial.readTime' | translate }} {{ 'blog.readTime' | translate }}</span>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >{{ 'blog.posts.vidaSocial.title' | translate }}<i
                    class="feather-arrow-up-right"
                  ></i
                ></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single blog -->
      <!-- Modal 1 blog section-->

      <app-blog-modal
        [id]="'modal-blog-1'"
        [title]="'blog.modals.videojuegos.title' | translate"
        [img]="'assets/images/blog/blog-01.jpg'"
        [type_1]="true"
      ></app-blog-modal>
      <!-- End of Modal 1 blog section-->
      <!-- Modal 1 blog section-->

      <app-blog-modal
        [id]="'modal-blog-2'"
        [title]="'blog.modals.impresion3d.title' | translate"
        [img]="'assets/images/blog/vari.webp'"
        [type_2]="true"
      ></app-blog-modal>
      <!-- End of Modal 1 blog section-->
      <!-- Modal 1 blog section-->

      <app-blog-modal
        [id]="'modal-blog-3'"
        [img]="'assets/images/blog/blog-03.jpg'"
        [title]="'blog.modals.vidaSocial.title' | translate"
        [type_3]="true"
      ></app-blog-modal>
      <!-- End of Modal 1 blog section-->
    </div>
  </div>
</div>
<!-- ENd Mews Area -->
