<!-- Start Portfolio Area -->
<div
  id="portfolio"
  class="rn-portfolio-area portfolio-style-three rn-section-gap"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="100"
          data-aos-once="true"
          class="section-title text-center"
        >
          <span class="subtitle">{{ 'portfolio.subtitle' | translate }}</span>
          <h2 class="title">{{ 'portfolio.title' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="row mt--25 mt_md--5 mt_sm--5">
      <div class="col-lg-12">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="200"
          data-aos-once="true"
          class="portfolio-wrapper portfolio-slick-activation slick-arrow-style-one rn-slick-dot-style"
        >
          <div class="row">
             <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalEleven"
            >
              <app-single-proyect
                [category]="'portfolio.projects.portfolioFotografia.category' | translate"
                [title]="'portfolio.projects.portfolioFotografia.title' | translate"
                [img]="'assets/images/portfolio/project11/img1.png'"
              ></app-single-proyect>
            </div>
                        <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalTen"
            >
              <app-single-proyect
                [category]="'portfolio.projects.sistemaInventarios.category' | translate"
                [title]="'portfolio.projects.sistemaInventarios.title' | translate"
                [img]="'assets/images/portfolio/project10/img1.png'"
              ></app-single-proyect>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalOne"
            >
              <app-single-proyect
                [category]="'portfolio.projects.dashboardAdmin.category' | translate"
                [title]="'portfolio.projects.dashboardAdmin.title' | translate"
                [img]="'assets/images/portfolio/project7/img1.jpg'"
              ></app-single-proyect>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalTwo"
            >
              <app-single-proyect
                [category]="'portfolio.projects.sistemaPosicionamiento.category' | translate"
                [title]="'portfolio.projects.sistemaPosicionamiento.title' | translate"
                [img]="'assets/images/portfolio/project4/img1.jpg'"
              ></app-single-proyect>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalThree"
            >
              <app-single-proyect
                [category]="'portfolio.projects.gestorUsuario.category' | translate"
                [title]="'portfolio.projects.gestorUsuario.title' | translate"
                [img]="'assets/images/portfolio/project1/img1.jpg'"
              ></app-single-proyect>
            </div>
            <!-- <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalFour"
            >
              <!-- <app-single-proyect
                [category]="'Weather API'"
                [title]="'Web Weather App'"
                [img]="'assets/images/portfolio/project6/img1.jpg'"
              ></app-single-proyect> 
            </div> -->
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              data-bs-toggle="modal"
              data-bs-target="#ModalFive"
            >
              <app-single-proyect
                [category]="'portfolio.projects.generadorQR.category' | translate"
                [title]="'portfolio.projects.generadorQR.title' | translate"
                [img]="'assets/images/portfolio/project3/img1.jpg'"
              ></app-single-proyect>
            </div>

           
          </div>
          <!-- Start Single Portfolio  -->
        </div>
      </div>
    </div>
    
    <!-- Modals Section -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Portfolio Modals -->
        <app-modal
          [id]="'ModalOne'"
          [img]="'assets/images/portfolio/project7/init.jpg'"
          [second_img]="'assets/images/portfolio/project7/img1.jpg'"
          [thirth_img]="'assets/images/portfolio/project7/img2.jpg'"
          [type]="'portfolio.modals.dashboardAdmin.type' | translate"
          [title]="'portfolio.modals.dashboardAdmin.title' | translate"
          [first_text]="'portfolio.modals.dashboardAdmin.firstText' | translate"
          [second_text]="'portfolio.modals.dashboardAdmin.secondText' | translate"
          [github_link]="'https://github.com/TomatoTok/adminDashboard'"
          [page_link]="'https://tomatotok.github.io/adminDashboard/'"
          [has_a_web]="true"
        ></app-modal>

        <app-modal
          [id]="'ModalTwo'"
          [img]="'assets/images/portfolio/project4/init.jpg'"
          [second_img]="'assets/images/portfolio/project4/img1.jpg'"
          [type]="'portfolio.modals.sistemaPosicionamiento.type' | translate"
          [title]="'portfolio.modals.sistemaPosicionamiento.title' | translate"
          [first_text]="'portfolio.modals.sistemaPosicionamiento.firstText' | translate"
          [second_text]="'portfolio.modals.sistemaPosicionamiento.secondText' | translate"
          [has_links]="false"
          [no_link_text]="'portfolio.modals.sistemaPosicionamiento.noLinkText' | translate"
        ></app-modal>

        <app-modal
          [id]="'ModalThree'"
          [img]="'assets/images/portfolio/project1/img1.jpg'"
          [second_img]="'assets/images/portfolio/project1/img2.jpg'"
          [thirth_img]="'assets/images/portfolio/project1/img3.jpg'"
          [type]="'portfolio.modals.gestorUsuario.type' | translate"
          [title]="'portfolio.modals.gestorUsuario.title' | translate"
          [first_text]="'portfolio.modals.gestorUsuario.firstText' | translate"
          [second_text]="'portfolio.modals.gestorUsuario.secondText' | translate"
          [github_link]="'https://github.com/TomatoTok/Gup'"
          [page_link]="'https://codepen.io/tomatotok/full/abWZeee'"
          [has_a_web]="true"
        ></app-modal>

        <!-- <app-modal
          [id]="'ModalFour'"
          [img]="'assets/images/portfolio/project6/img1.jpg'"
          [second_img]="'assets/images/portfolio/project6/init.jpg'"
          [type]="'Weather API'"
          [title]="'Aplicacion Web del Clima'"
          [first_text]="
            'Pagina simple con motor JS y WeatherAPI para ver el clima en tu localidad. (es necesario permitir la ubicación)'
          "
          [second_text]="'Desarrollado con HTML5, CSS3, JS, WeatherAPI'"
          [github_link]="'https://github.com/TomatoTok/climapp'"
          [page_link]="'https://tomatotok.github.io/climapp/'"
          [has_a_web]="true"
        ></app-modal> -->

        <app-modal
          [id]="'ModalFive'"
          [img]="'assets/images/portfolio/project3/img1.jpg'"
          [second_img]="'assets/images/portfolio/project3/init.jpg'"
          [type]="'portfolio.modals.generadorQR.type' | translate"
          [title]="'portfolio.modals.generadorQR.title' | translate"
          [first_text]="'portfolio.modals.generadorQR.firstText' | translate"
          [second_text]="'portfolio.modals.generadorQR.secondText' | translate"
          [github_link]="'https://github.com/TomatoTok/qr-generator'"
          [page_link]="'https://tomatotok.github.io/qr-generator/'"
          [has_a_web]="true"
        ></app-modal>

        <app-modal
          [id]="'ModalSix'"
          [img]="'assets/images/portfolio/project8/init.jpg'"
          [second_img]="'assets/images/portfolio/project8/img3.jpg'"
          [thirth_img]="'assets/images/portfolio/project8/img2.jpg'"
          [type]="'portfolio.modals.proyectoCafe.type' | translate"
          [title]="'portfolio.modals.proyectoCafe.title' | translate"
          [first_text]="'portfolio.modals.proyectoCafe.firstText' | translate"
          [second_text]="'portfolio.modals.proyectoCafe.secondText' | translate"
          [has_links]="false"
          [no_link_text]="'portfolio.modals.proyectoCafe.noLinkText' | translate"
        ></app-modal>

        <app-modal
          [id]="'ModalSeven'"
          [img]="'assets/images/portfolio/project9/img2.png'"
          [second_img]="'assets/images/portfolio/project9/img3.png'"
          [type]="'Fan-Page'"
          [title]="'Shoji Meguro FP'"
          [first_text]="
            'Shoji Meguro & Persona Fan Page, dedicada a uno de mis referentes y una de las sagas de juegos favoritas, creado para practicar JS y CSS, estilo y diseño propio'
          "
          [second_text]="'Desarrollado con HTML5, CSS3, JS'"
          [github_link]="'https://github.com/TomatoTok/shoji-meguro-fp'"
          [page_link]="'https://tomatotok.github.io/shoji-meguro-fp/'"
          [has_a_web]="true"
        ></app-modal>
      </div>
    </div>

    <!-- Game Development Section -->
    <div class="row mt--25 mt_md--5 mt_sm--5">
      <div class="row mt-5 pt-5">
        <div class="col-lg-12">
          <div
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="100"
            data-aos-once="true"
            class="section-title text-center"
          >
            <span class="subtitle"
              >{{ 'portfolio.subtitle' | translate }}</span
            >
            <h2 class="title">{{ 'portfolio.gameDevTitle' | translate }}</h2>
          </div>
          <div class="row mt--25 mt_md--5 mt_sm--5">
            <div class="col-lg-12">
              <div
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="200"
                data-aos-once="true"
                class="portfolio-wrapper portfolio-slick-activation slick-arrow-style-one rn-slick-dot-style"
              >
                <div class="row">
                  <div
                    class="col-lg-4 col-md-6 col-sm-12"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalSix"
                  >
                    <app-single-proyect
                      [category]="'portfolio.projects.proyectoCafe.category' | translate"
                      [title]="'portfolio.projects.proyectoCafe.title' | translate"
                      [img]="'assets/images/portfolio/project8/init.jpg'"
                    ></app-single-proyect>
                  </div>
                  <div
                    class="col-lg-4 col-md-6 col-sm-12"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalTwelve"
                  >
                    <app-single-proyect
                      [category]="'portfolio.projects.islandProject.category' | translate"
                      [title]="'portfolio.projects.islandProject.title' | translate"
                      [img]="'assets/images/portfolio/game4/image1.png'"
                    ></app-single-proyect>
                  </div>
                  <div
                    class="col-lg-4 col-md-6 col-sm-12"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalEight"
                  >
                    <app-single-proyect
                      [category]="'portfolio.projects.plataformas.category' | translate"
                      [title]="'portfolio.projects.plataformas.title' | translate"
                      [img]="'assets/images/portfolio/game1/img1.png'"
                    ></app-single-proyect>
                  </div>
                  <div
                    class="col-lg-4 col-md-6 col-sm-12"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalNine"
                  >
                    <app-single-proyect
                      [category]="'portfolio.projects.tetris.category' | translate"
                      [title]="'portfolio.projects.tetris.title' | translate"
                      [img]="'assets/images/portfolio/game2/img1.png'"
                    ></app-single-proyect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Game Development Modals -->
      <app-modal-video
        [id]="'ModalTwelve'"
        [vid]="'assets/videos/muestra_isla_2.mp4'"
        [img]="'assets/images/portfolio/game4/image1.jpg'"
        [type]="'portfolio.modals.islandProject.type' | translate"
        [title]="'portfolio.modals.islandProject.title' | translate"
        [first_text]="'portfolio.modals.islandProject.firstText' | translate"
        [second_text]="'portfolio.modals.islandProject.secondText' | translate"
        [has_links]="false"
        [no_link_text]="''"
      ></app-modal-video>
      
      <app-modal-video
        [id]="'ModalEight'"
        [vid]="'assets/videos/godot-project.mp4'"
        [img]="'assets/images/portfolio/game1/img1.png'"
        [type]="'portfolio.modals.plataformas.type' | translate"
        [title]="'portfolio.modals.plataformas.title' | translate"
        [first_text]="'portfolio.modals.plataformas.firstText' | translate"
        [second_text]="'portfolio.modals.plataformas.secondText' | translate"
        [has_links]="false"
        [no_link_text]="'portfolio.modals.plataformas.noLinkText' | translate"
      ></app-modal-video>
      
      <app-modal-video
        [id]="'ModalNine'"
        [vid]="'assets/videos/tetris-unity.mp4'"
        [img]="'assets/images/portfolio/game2/img1.png'"
        [type]="'portfolio.modals.tetrisUnity.type' | translate"
        [title]="'portfolio.modals.tetrisUnity.title' | translate"
        [first_text]="'portfolio.modals.tetrisUnity.firstText' | translate"
        [second_text]="'portfolio.modals.tetrisUnity.secondText' | translate"
        [has_links]="false"
        [no_link_text]="'portfolio.modals.tetrisUnity.noLinkText' | translate"
      ></app-modal-video>
      
      <app-modal-video
        [id]="'ModalTen'"
        [vid]="'assets/videos/mt-tools-video.mp4'"
        [img]="'assets/images/portfolio/project10/img1.png'"
        [type]="'portfolio.modals.sistemaInventarios.type' | translate"
        [title]="'portfolio.modals.sistemaInventarios.title' | translate"
        [first_text]="'portfolio.modals.sistemaInventarios.firstText' | translate"
        [second_text]="'portfolio.modals.sistemaInventarios.secondText' | translate"
        [has_links]="false"
        [no_link_text]="'portfolio.modals.sistemaInventarios.noLinkText' | translate"
      ></app-modal-video>
      
      <app-modal-video
        [id]="'ModalEleven'"
        [vid]="'assets/videos/portfolio_fotografia.mp4'"
        [img]="'assets/images/portfolio/project11/img1.png'"
        [type]="'portfolio.modals.portfolioFotografia.type' | translate"
        [title]="'portfolio.modals.portfolioFotografia.title' | translate"
        [first_text]="'portfolio.modals.portfolioFotografia.firstText' | translate"
        [second_text]="'portfolio.modals.portfolioFotografia.secondText' | translate"
        [has_links]="false"
        [no_link_text]="'portfolio.modals.portfolioFotografia.noLinkText' | translate"
      ></app-modal-video>
      
      <!-- End portfolio Area -->
    </div>
  </div>
</div>
