<!-- single skills -->
<div class="col-lg-12 col-md-12 col-sm-12 d-flex">
    <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true"
        class="experience-style-two flex-wrap">
        <div class="col col-lg-3  col-sm-12">
            <div class="experience-image">
                <img src="{{image}}" alt="{{alt}}">
            </div>
        </div>
        <div class="col col-lg-6 col-sm-12">
            <div class="experience-center">
                <span class="date">{{date}}</span>
                <h4 class="experience-title">
                    {{title}}
                </h4>
                <h6 class="subtitle">
                    {{subtitle}}
                </h6>
                <p class="disc">{{description}}</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="experience-right">
                <div class="experience-footer d-flex justify-content-center">
                    <a class="rn-btn" data-bs-toggle="collapse" href="#{{href}}" role="button" aria-expanded="false"
                        aria-controls="collapseExample"><span>{{ 'experience.viewMore' | translate }}</span></a>
                </div>
            </div>
        </div>
        <!-- Contenido variable -->
        <ng-container [ngSwitch]="case">
            <ng-container *ngSwitchCase="'blister'">
                <div class="col-11 mt-3 me-auto" style="margin: auto;">
                    <div class="collapse" id="{{href}}">
                        <div class="card card-body p-4" style="border:none">
                            <h5>{{ 'experience.myRole' | translate }}</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.developer.title' | translate }}</b>: {{ 'experience.companies.blister.roles.developer.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.projectLeader.title' | translate }}</b>: {{ 'experience.companies.blister.roles.projectLeader.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.systemManagement.title' | translate }}</b>: {{ 'experience.companies.blister.roles.systemManagement.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.design.title' | translate }}</b>: {{ 'experience.companies.blister.roles.design.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.architecture.title' | translate }}</b>: {{ 'experience.companies.blister.roles.architecture.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.support.title' | translate }}</b>: {{ 'experience.companies.blister.roles.support.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.blister.roles.miscellaneous.title' | translate }}</b>: {{ 'experience.companies.blister.roles.miscellaneous.description' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'freelance'">
                <div class="col-11 mt-3" style="margin:auto">
                    <div class="collapse" id="{{href}}">
                        <div class="card card-body p-4" style="border:none">
                            <h5>{{ 'experience.jobs' | translate }}</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.freelance.roles.ownClients.title' | translate }}</b>: {{ 'experience.companies.freelance.roles.ownClients.description' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.freelance.roles.personalDevelopment.title' | translate }}</b>: {{ 'experience.companies.freelance.roles.personalDevelopment.description' | translate }}
                                </li>
                                <li class="list-group-item"><b>{{ 'experience.companies.freelance.roles.simplePages.title' | translate }}</b>: {{ 'experience.companies.freelance.roles.simplePages.description' | translate }}</li>
                                <li class="list-group-item"><b>{{ 'experience.companies.freelance.roles.activeParticipation.title' | translate }}</b>: {{ 'experience.companies.freelance.roles.activeParticipation.description' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'university'">
                <div class="col-11 mt-3" style="margin:auto">
                    <div class="collapse" id="{{href}}">
                        <div class="card card-body p-4" style="border:none">
                            <h5>{{ 'experience.performances' | translate }}</h5>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.university.roles.databaseDesign.title' | translate }}</b>: {{ 'experience.companies.university.roles.databaseDesign.description' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.university.roles.structureImplementation.title' | translate }}</b>: {{ 'experience.companies.university.roles.structureImplementation.description' | translate }}
                                </li>
                                <li class="list-group-item"><b>{{ 'experience.companies.university.roles.oop.title' | translate }}</b>: {{ 'experience.companies.university.roles.oop.description' | translate }}
                                    {{ 'experience.companies.university.roles.oop.link' | translate }} <a
                                        href="https://github.com/TomatoTok/ClassGenerator">Class Generator SmallTalk</a>
                                </li>
                                <li class="list-group-item"><b>{{ 'experience.companies.university.roles.coursesAndCompetitions.title' | translate }}</b>: {{ 'experience.companies.university.roles.coursesAndCompetitions.description' | translate }}</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'tecfield'">
                <div class="col-11 mt-3" style="margin:auto">
                    <div class="collapse" id="{{href}}">
                        <div class="card card-body p-4" style="border:none">
                            <h5>{{ 'experience.roleInCompany' | translate }}</h5>
                            <ul class="list-group">
                                 <li class="list-group-item">
                                    <b>{{ 'experience.companies.tecfield.roles.projectLeader.title' | translate }}</b>: {{ 'experience.companies.tecfield.roles.projectLeader.description' | translate }}
                                    <br>
                                    {{ 'experience.companies.tecfield.roles.projectLeader.technologies' | translate }}
                                </li>
                                <hr>
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.tecfield.roles.internalModel.title' | translate }}</b>: {{ 'experience.companies.tecfield.roles.internalModel.description' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <b>{{ 'experience.companies.tecfield.roles.statisticalAnalysis.title' | translate }}</b>: {{ 'experience.companies.tecfield.roles.statisticalAnalysis.description' | translate }}
                                </li>
                                <li class="list-group-item"><b>{{ 'experience.companies.tecfield.roles.formsAndData.title' | translate }}</b>: {{ 'experience.companies.tecfield.roles.formsAndData.description' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <!-- Contenido variable -->

    </div>
</div>

<!-- single skills -->