.card{
    background-color: #212428;
    color:#c4cfde ;
}
.card > ul > li {
    background-color: #212428;
    color:#c4cfde ;
    list-style-type: disc;
    border: none;
}
.list-group-item{
    margin: 5px 0px;
}
img{
    max-height: 200px;
    min-width: 250px;
    height: auto;
    object-fit: cover;
    width: 100%;
}