<!-- Start Resume Area -->
<div class="rn-resume-area rn-section-gap section-separator" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true"
                    class="section-title text-center">
                    <span class="subtitle">5+ años de trayectoria</span>
                    <h2 class="title">Mi Resumen</h2>
                </div>
            </div>
        </div>
        <div class="row mt--45">
            <div class="col-lg-12">
                <ul data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true"
                    class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="education-tab" data-bs-toggle="tab" href="#education" role="tab"
                            aria-controls="education" aria-selected="true">educación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="professional-tab" data-bs-toggle="tab" href="#professional" role="tab"
                            aria-controls="professional" aria-selected="false">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-bs-toggle="tab" href="#experience" role="tab"
                            aria-controls="experience" aria-selected="false">Experiencia</a>
                    </li>
                </ul>

                <!-- Start Tab Content Wrapper  -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-once="true"
                    class="rn-nav-content tab-content" id="myTabContents">

                    <!-- Start Single Tab  -->
                    <div class="tab-pane show active fade single-tab-area" id="education" role="tabpanel"
                        aria-labelledby="education-tab">
                        <div class="personal-experience-inner mt--40">
                            <div class="row">
                                <!-- Start Skill List Area  -->
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="content">
                                        <span class="subtitle">2018 - Presente</span>
                                        <h4 class="maintitle">Educación de Grado</h4>
                                        <div class="experience-list">

                                            <app-single-list [title]="'Universidad del Comahue Neuquén'"
                                                [subtitle]="'Lic. Ciencias de la Computacion/Sistemas'"
                                                [description]="'Facultad de Informatica - Ubicada en Neuquen Capital (Confluencia), 3er Año de la carrera. Materias realizadas como Estuctura de Datos, Programacion Orientada a Objetos, Probabilidad y Estadística, Diseño de Bases de Datos, etc.'"></app-single-list>
                                                <app-single-list [title]="'Cambridge English'"
                                                [subtitle]="'Instituto de Ingles Cambridge Neuquen Capital '"
                                                [description]="'Aprendizaje del idioma extranjero Ingles'"></app-single-list>
                                            <app-single-list [title]="'Bachiller en Comunicación y Nuevos Medios '"
                                                [subtitle]="'Secundario Cipolletti Rio Negro CEM N°35'"
                                                [description]="'Egresado de Colegio Secundario CEM N°35 con titulo de Bachiller en Comunicación y Nuevos Medios.'"></app-single-list>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Skill List Area  -->

                                <!-- Start Skill List Area 2nd  -->
                                <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                                    <div class="content">
                                        <span class="subtitle">2019 - Presente</span>
                                        <h4 class="maintitle">Autodidacta</h4>
                                        <div class="experience-list">

                                            <app-single-list [title]="'Cursos Online'"
                                                [subtitle]="'Udemy | Platzi | FreeCode Camp | Angular Docs | otros.'"
                                                [description]="'Cursos online con certificados de - Full Stack Javascript Development - Front End Development - Git basic to advance - y otros.'"></app-single-list>

                                            <app-single-list [title]="'Cursos universitarios'"
                                                [subtitle]="'Cursos de Terceros'"
                                                [description]="'Cursos promovidos por la Facultad de Informatica como Metodologías Agiles, Tacticas de desempeño en Algoritmos, Desarrollo e implementacion de Modelos Relacionales'"></app-single-list>
                                            <app-single-list [title]="'YouTube'" [subtitle]="'Así es YouTube'"
                                                [description]="'Gran parte de mi desarrollo se involucró en 200+ hs de contenido de desarrolladores en YouTube, fue mi gran profesor y tutor en mi formación como entusiasta y desarrollador'"></app-single-list>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Skill List Area  -->
                            </div>
                        </div>
                    </div>
                    <!-- End Single Tab  -->

                    <!-- Start Single Tab  -->
                    <div class="tab-pane fade " id="professional" role="tabpanel" aria-labelledby="professional-tab">
                        <div class="personal-experience-inner mt--40">
                            <div class="row row--40">

                                <!-- Start Single Progressbar  -->
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="progress-wrapper">
                                        <div class="content">
                                            <span class="subtitle">Implementación</span>
                                            <h4 class="maintitle">Lenguajes y Frameworks</h4>
                                            <app-skill [img]="'assets/images/svg icons/html-1-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'HTML 5'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/css-3-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'CSS 3'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/logo-javascript-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'Javascript'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/php-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'PHP'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/codeigniter-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'CodeIgniter 3/4'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/angular-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'Angular'"></app-skill>
                                                <app-skill [img]="'assets/images/svg icons/nestjs-icon.svg'"
                                                [type_img]="'svg-icon-xl'" [skill_name]="'Nest Js'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/laravel-wordmark-icon.svg'"
                                                [type_img]="'svg-icon-xl'" [skill_name]="'Laravel'"></app-skill>
                                                <app-skill [img]="'assets/images/svg icons/java-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'Java'"></app-skill>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Progressbar  -->

                                <!-- Start Single Progressbar  -->
                                <div class="col-lg-6 col-md-6 col-12 mt_sm--60">
                                    <div class="progress-wrapper">
                                        <div class="content">
                                            <span class="subtitle">Desarrollo y otros</span>
                                            <h4 class="maintitle">Herramientas y más</h4>
                                            <app-skill [img]="'assets/images/svg icons/bootstrap-5-icon.svg'"
                                            [type_img]="'svg-icon'" [skill_name]="'Bootstrap 3/4/5'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/nodejs-icon.svg'"
                                            [type_img]="'svg-icon'" [skill_name]="'NodeJs'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/cpanel-icon.svg'"
                                                [type_img]="'svg-icon-xl'" [skill_name]="'Cpanel'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/figma-5-icon.svg'"
                                                [type_img]="'svg-icon-xl'" [skill_name]="'Figma'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/fontawesome-1-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'FontAwesome'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/git-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'Git'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/github-icon-1.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'GitHub'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/jquery-icon.svg'"
                                                [type_img]="'svg-icon-xl'" [skill_name]="'JQuery'"></app-skill>
                                            <app-skill [img]="'assets/images/svg icons/mysql-icon.svg'"
                                                [type_img]="'svg-icon'" [skill_name]="'MySql'"></app-skill>
                                                <app-skill [img]="'assets/images/svg icons/mongo-icon.png'"
                                                [type_img]="'png'" [skill_name]="'MongoDB'"></app-skill>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Progressbar  -->

                            </div>
                        </div>
                    </div>
                    <!-- End Single Tab  -->

                    <!-- Start Single Tab  -->
                    <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                        <div class="personal-experience-inner mt--40">
                            <div class="row d-flex text-center fs-5 mb-3">
                               

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-12 mb-5">
                                    <h5 class="maintitle">Prestaciones y servicios</h5>
                                    <div class="content">
                                        <span class="subtitle">2024 - Presente</span>
                                        <h4 style="padding: 0px;">TECFIELD</h4>
                                        <label for="" style="font-size:medium;">*Dentro de la empresa Tecfield desarrollo y lidero proyectos, gestiono y
                                            defíno estadísticas a las siguientes empresas.</label>
                                        <div class="experience-list">
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img9.png'"
                                                        [type_img]="'img'"
                                                        [company_name]="'TecField SRL'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12 pt-5 mt-5">
                                    <div class="content" >

                                        <div class="experience-list">

                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img10.jpeg'"
                                                        [type_img]="'img'"
                                                        [company_name]="'O.P.S Oilfield & Production Service'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Skill List Area  -->
                                <div class="col-lg-6 col-md-12 col-12 pt-3">
                                    <div class="content">
                                        <span class="subtitle">2020 - 2024</span>
                                        <br>
                                        <label for="" style="font-size:medium;">*Dentro de la empresa Blister Technologies brinde desarrollos, servicios, atención y
                                            prestaciones a las siguientes empresas.</label>
                                        <div class="experience-list"> 

                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img1.png'"
                                                        [type_img]="'img'"
                                                        [company_name]="'Blister Technologies'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img2.png'"
                                                        [type_img]="'img'"
                                                        [company_name]="'Shell HSE Argentina'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img3.png'"
                                                        [type_img]="'img'" [company_name]="'Zille SRL'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img4.png'"
                                                        [type_img]="'img-xl'"
                                                        [company_name]="'Calfrac Well Service'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->

                                        </div>
                                    </div>
                                </div>
                                <!-- End Skill List Area  -->

                                <!-- Start Skill List Area 2nd  -->
                                <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                                    <div class="content">
                                        <span class="mt-5"></span>
                                        <div class="experience-list">
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img5.svg'"
                                                        [type_img]="'img'"
                                                        [company_name]="'Ministerio de Educacion Neuquén'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img6.png'"
                                                        [type_img]="'img-xl'"
                                                        [company_name]="'Contreras Hermanos SRL'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img7.png'"
                                                        [type_img]="'img'" [company_name]="'Prevensur'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img8.png'"
                                                        [type_img]="'img'"
                                                        [company_name]="'OldelVal Cass'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->
                                            <!-- Start Single List  -->
                                            <div class="resume-single-list">
                                                <div class="inner">
                                                    <app-company [img]="'assets/images/company/img2.png'"
                                                        [type_img]="'img'"
                                                        [company_name]="'Shell Quality Argentina'"></app-company>
                                                </div>
                                            </div>
                                            <!-- End Single List  -->

                                        </div>
                                    </div>
                                </div>
                                <!-- End Skill List Area  -->
                            </div>
                        </div>
                    </div>
                    <!-- End Single Tab  -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Resume Area -->