
<!-- Rn footer area Start -->
<div id="footer" class="rn-footer-area footer-style-2 rn-section-gapTop section-separator">
    <div class="container pb--80 pb_sm--40 plr_sm--20">
        <div class="row">
            <div class="col-xl-3 col-12 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="logo-thumbnail">
                    <a >Social Media</a>
                </div>
                <div class="social-icone-wrapper">
                    <ul class="social-share d-flex liststyle">
                        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/tomas-bascal/"><i data-feather="linkedin"></i></a>
                        </li>
                        <li class="instagram"><a target="_blank" href="https://www.instagram.com/tomee_bascal/"><i data-feather="instagram"></i></a>
                        </li>
                        <li class="x"><a target="_blank" href="https://twitter.com/Tomato_tok"><i data-feather="twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sl-3 col-12 mt_sm--20 col-lg-3 col-md-6 col-sm-6 col-12" style="height: max-content;">
                <div class="d-flex" style="align-items: end; justify-content: end;height: 200px;">
                    <app-animation ></app-animation>   
                </div>
            </div>
            <div class="col-sl-3 col-12 mt_sm--20 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="menu-wrapper">
                    <div class="menu-title">
                        <h6>Recursos</h6>
                    </div>
                    <ul class="menu-footer">
                        <li><a href="https://angular.io/docs" target="_blank">Angular Docs</a></li>
                        <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank" >Bootstrap 5</a></li>
                        <li><a href="https://fontawesome.com/icons">Font Awesome</a></li>
                        <li><a href="https://nodemailer.com/about/">NodeMailer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sl-3 col-12 mt_sm--20 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="menu-wrapper">
                    <div class="menu-title">
                        <h6>Desarrollador</h6>
                    </div>
                    <ul class="menu-footer">
                        <li><a href="https://www.hostinger.com.ar/">Hostinger</a></li>
                        <li><a href="https://nodejs.org/en">NodeJs</a></li>
                        <li><a href="https://angular.io/">Angular</a></li>
                        <li><a href="https://github.com/TomatoTok">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center ptb--40 section-separator">
        <p class="description">© 2025. All rights reserved by <a target="_blank"
                href="https://linktr.ee/tomasbascal">Tomas Bascal.</a></p>
    </div>
</div>